<a routerLink="/" class="btn btn-light m-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg> Back</a>
<div class="card shadow m-5 p-4">
  <h2 class="h2 pb-2 m-0">Add new employee</h2>
  <form class="d-flex flex-column gap-3" [formGroup]="employeeForm" (ngSubmit)="onEmployeeFormSubmitted(employeeForm)">
    <input class="form-control"
           type="text"
           formControlName="name"
           placeholder="Name">
    <input class="form-control"
           type="text" formControlName="age" placeholder="Age">
    <input class="btn btn-success align-self-end" style="width: 150px" type="submit" value="Save">
  </form>
</div>
