

<div class="card shadow m-5 p-4">
  <h2 class="text-success m-0 mb-4" >Employee list</h2>
  <div class="label d-flex">
    <div class="id">id</div>
    <div class="name">name</div>
    <div class="email">email</div>
  </div>
  <ul *ngIf="data$ | async as data; else empty">
    <li class="d-flex" *ngFor="let employee of data">
      <div class="id">{{ employee.personalNumber }}</div>
      <div class="name">{{ employee.name }}</div>
      <div class="email">{{ employee.mail }}</div>
    </li>
  </ul>
</div>
<ng-template #empty> There is no data</ng-template>
<app-employees-faces></app-employees-faces>
